                <div class="rating-container-big">
                    <div class="rating-grade-item">
                        <span class="rating-grade-item-inner rating-grade-espacio_fisico" rel='twipsy' title="Evaluación del espacio físico: {{ rating.espacio_fisico|num_format(2) }}" style="height: {{ rating.espacio_fisico*20 }}%"></span>
                    </div>
                    <div class="rating-grade-item">
                        <span class="rating-grade-item-inner rating-grade-seguridad" rel='twipsy' title="Evaluación del nivel de seguridad: {{ rating.seguridad|num_format(2) }}" style="height: {{ rating.seguridad*20 }}%"></span>
                    </div>
                    <div class="rating-grade-item">
                        <span class="rating-grade-item-inner rating-grade-instalaciones_educativas" rel='twipsy' title="Evaluación de las instalaciones educativas: {{ rating.instalaciones_educativas|num_format(2) }}" style="height: {{ rating.instalaciones_educativas*20 }}%"></span>
                    </div>
                    <div class="rating-grade-item">
                        <span class="rating-grade-item-inner rating-grade-organizacion" rel='twipsy' title="Evaluación de la organización: {{ rating.organizacion|num_format(2) }}" style="height: {{ rating.organizacion*20 }}%"></span>
                    </div>
                    <div class="rating-grade-item">
                        <span class="rating-grade-item-inner rating-grade-proceso_educativo" rel='twipsy' title="Evaluación del proceso educativo: {{ rating.proceso_educativo|num_format(2) }}" style="height: {{ rating.proceso_educativo*20 }}%"></span>
                    </div>
                    <div class="rating-grade-item">
                        <span class="rating-grade-item-inner rating-grade-valores" rel='twipsy' title="Evaluación de valores: {{ rating.valores|num_format(2) }}" style="height: {{ rating.valores*20 }}%"></span>
                    </div>
                    <div class="rating-grade-item">
                        <span class="rating-grade-item-inner rating-grade-otros_recursos" rel='twipsy' title="Evaluación de otros recursos: {{ rating.otros_recursos|num_format(2) }}" style="height: {{ rating.otros_recursos*20 }}%"></span>
                    </div>
                </div>
